body{
    background-color: #8c1503;
    padding: 30px;
}

.main{
    background-color: #eddfad;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px;
    border-radius: 20px;
}

.headings{
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #cc402b;
    margin-top: 50px;
}

.description{
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(241, 18, 18);
    font-size: 16px;
    font-weight: lighter;
}

.tables{
    background-color: #eddfad;
    width: 90%;
    margin-left: 60px;
}

#price{
    text-align: right;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
}
#food_items{
    text-align: left;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
}

#biryani_sub_heading{
    text-align: center;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #cc402b;
    font-weight: bold;
}